<ul class="list-group">
        <li class="list-group-item">All</li>
    {% for genre in genres %}
        <li class="list-group-item" data-id="{{ genre.id }}">{{ genre.name }}</li>
    {% endfor %}
</ul>
