<ul class="list-group">
        <li class="list-group-item">All</li>
    {% for genre in genres %}
        <li class="list-group-item" >
               <a href="{{ path('movies_by_genre' , {'genreName': genre.name, 'genreId': genre.id}) }}">{{ genre.name }}</a>
        </li>
    {% endfor %}
</ul>
