
<div class="input-group mb-3">
    <input type="text" class="form-control" id="autocomplete" placeholder="Search ..." aria-label="Recipient's username" aria-describedby="basic-addon2" data-autocomplete-url="{{ path('movie_search') }}">
</div>